<div ui-view="primaryx">
    <div layout="column" layout-align="start center">
        <h1 class="md-display-2">Accès School DB</h1>
        <h2 class="md-display-1" style="text-align: center">Gaudeix de totes les possibilitats que t'ofereix aquesta eina!!</h2>
        <div style="height: 50px"></div>
        <div layout="row" layout-align="space-around start" layout-wrap>
            <md-card style="width: 300px" md-colors="{background: 'primary'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Afegeix noves Entrades!!!!</span>
                        <span class="md-subhead">Amb el poder del servei $http de AngularJS podrem executar sentencies POST contra la base de dades</span>
                        <i class="material-icons md-48">add</i>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card style="width: 300px" md-colors="{background: 'accent'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Edita les entrades ja inserides!!</span>
                        <span class="md-subhead">Amb un simple doble-click sobre el camp desitjat podràs editar el seu contingut</span>
                        <i class="material-icons md-48">edit</i>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card style="width: 300px" md-colors="{background: 'warn'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Llista el contigut de les diferents taules!!</span>
                        <span class="md-subhead">La implementació del metode get ens obre un mar de posibilitats per llistar les nostre dades!!!</span>
                        <i class="material-icons md-48">list</i>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <md-card style="width: 300px" md-colors="{background: 'primary'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Consulta les nostres gràfiques per a estar a l'ordre del dia!!</span>
                        <span class="md-subhead">Amb la potencia de DevExtreme podem consultar les informacions mésc omplexes de la forma més simple possible, consulta les nostres gràfiques ja!!!</span>
                        <i class="material-icons md-48">show_chart</i>
                    </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
        <div style="height: 50px"></div>
        <div layout="row" layout-align="space-around start" layout-wrap>
            <md-button class="md-accent md-raised" ng-click="goTo('landing-page.professors')"><p class="md-title">EDITA LA TAULA PROFESSORS</p></md-button>
            <md-button class="md-primary md-raised" ng-click="goTo('landing-page.alumnes')"><p class="md-title">EDITA LA TAULA ALUMNES</p></md-button>
            <md-button class="md-accent md-raised" ng-click="goTo('landing-page.secretaris')"><p class="md-title">EDITA LA TAULA SECRETARIS</p></md-button>
            <md-button class="md-warn md-raised" ng-click="goTo('landing-page.grafica')"><p class="md-title">VISITA LES GRAFIQUES</p></md-button>
        </div>
    </div>
</div>
