<md-card layout-padding class="md-priamry">
    <md-card-title>
        <md-card-title-text class="md-headline">
            Professor {{ $ctrl.item.Id }}
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-list>
            <md-list-item>
                Nom: <p ng-if="editing !=  $ctrl.item.Id + 'Nom'" ng-dblclick="initUpdateItem($ctrl.item , 'Nom')">{{  $ctrl.item.Nom }}</p>
                <input ng-enter="updateItem($ctrl.item.Id, canviItem)" ng-if="editing ==  $ctrl.item.Id + 'Nom'" type="text" name="item.nom" ng-model="canviItem.Nom" />
            </md-list-item>
            <md-list-item>
                Cognom: <p ng-if="editing !=  $ctrl.professor.Id + 'Cognom'" ng-dblclick="initUpdateProfessor($ctrl.professor, 'Cognom')">{{  $ctrl.professor.Cognom }}</p>
                <input ng-enter="updateProfessor($ctrl.professor.Id, canviProfessor)" ng-if="editing ==  $ctrl.professor.Id + 'Cognom'" type="text" name="professor.cognom" ng-model="canviProfessor.Cognom" />
            </md-list-item>
            <md-list-item>
                Dni: <p ng-if="editing !=  $ctrl.professor.Id + 'Dni'" ng-dblclick="initUpdateProfessor($ctrl.professor, 'Dni')">{{  $ctrl.professor.Dni }}</p>
                <input ng-enter="updateProfessor($ctrl.professor.Id, canviProfessor)" ng-if="editing ==  $ctrl.professor.Id + 'Dni'" type="text" name="professor.dni" ng-model="canviProfessor.Dni" />
            </md-list-item>
            <md-list-item>
                Tel: <p ng-if="editing !=  $ctrl.professor.Id + 'tel'" ng-dblclick="initUpdateProfessor($ctrl.professor, 'tel')">{{  $ctrl.professor.tel }}</p>
                <input ng-enter="updateProfessor($ctrl.professor.Id, canviProfessor)" ng-if="editing ==  $ctrl.professor.Id + 'tel'" type="text" name="professor.tel" ng-model="canviProfessor.tel" />
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions>
        <md-button layout="row" layout-align="center center" class="md-warn md-raised" aria-label="Esborrar" ng-click="confirmDelete($event,  $ctrl.professor.Id)">
            <div ng-if="loadingDelete !=  $ctrl.professor.Id">Esborrar</div>
            <md-progress-circular class="md-warn md-hue-3" ng-if="loadingDelete ==  $ctrl.professor.Id" md-diameter="25" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
        </md-button>
    </md-card-actions>
</md-card>
