<div layout="column" layout-align="start center">
    <h1 class="md-display-2">{{$ctrl.titol}}</h1>
    <div style="width:100vw">
        <filtres-ordenacio filtre="filtre" ordre="ordre" opcions="opcions" opcioperdefecte="Nom"></filtres-ordenacio>
    </div>
    <div layout="row" layout-align="center start" layout-wrap flex>
        <md-progress-circular ng-if="loadingBody" md-diameter="70" md-mode="indeterminate" ng-disabled="false" value="..."></md-progress-circular>
        <error text="Pareix que hem tingut un error accedint a les dades dels professors :,(" layout-padding layout="column" layout-align="start center" ng-if="error"></error>
        <carta-item item="item" ng-if="!error" ng-repeat="item in $ctrl.items | orderBy: ordre | filter: filtre"></carta-item>
    </div>
</div>
