<md-content layout-padding>
    <div layout="column" layout-align="start center">
        <h1 style="text-align: center" class="md-display-1">Encara no hi ha cap item introduit a la base de dades<img layout-padding src="../resources/img/dead.png" alt="dead-img" height="40"></h1>
        <h1 style="text-align: center" class="md-headline">Tens la gràn oportunitat en ser el primer en emplenarla!!</h1>
        <h1 style="text-align: center" class="md-headline">Ho pots fer utilitzant el formulari de dalt a l'esquerra <img layout-padding src="../resources/img/smiling.png" alt="smile-img" height="40"></h1>
    </div>
    <img layout-padding src="../resources/img/arrow_back-24px.svg" alt="add-img" height="70">
</md-content>
