<md-sidenav md-component-id="left"
            class="md-sidenav-left md-whiteframe-z2 md-hue-1"
            layout="column"
            style="position:absolute!important">
    <div layout="row" class="md-nav-bar" nav-bar-aria-label="navigation links" md-colors="{background: 'primary'}">
        <div layout="column" layout-align="center center">
            <div>
                <md-button ng-click="toggle('left')" class="md-icon-button" aria-label="landing-page">
                    <md-icon md-svg-icon="../../resources/img/menu-24px.svg"></md-icon>
                </md-button>
            </div>
        </div>
        <div layout="column" layout-align="center center">
            <div>
                <md-button ng-click="goTo('landing-page'); toggle('left')" class="md-icon-button" aria-label="landing-page">
                    <md-icon md-svg-icon="../../resources/img/speed.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
    <div flex layout="column" style="overflow: auto">
        <div flex="20"></div>
        <div layout="column" layout-align="start center">
            <md-list style="overflow: auto;">
                <md-list-item><md-button ng-click="goTo('landing-page.professors'); toggle('left')">Professors</md-button></md-list-item>
                <md-list-item><md-button ng-click="goTo('landing-page.alumnes'); toggle('left')">Alumnes</md-button></md-list-item>
                <md-list-item><md-button ng-click="goTo('landing-page.secretaris'); toggle('left')">Secretaris</md-button></md-list-item>
                <md-list-item><md-button ng-click="goTo('landing-page.grafica'); toggle('left')">Gràfiques</md-button></md-list-item>
            </md-list>
        </div>
    </div>
</md-sidenav>
